{% load static %}
<!DOCTYPE htlm>
<html>
  <head>
    <title>
      Trabalho de Linguagens Formais e Compiladores
    </title>
    <link href="{% static 'css/estilo.css' %}" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>Linguagens Formais e Compiladores</h1>
    </header>
    <section>
      <div id="menu_lateral">
      </div>
      <div id="navegacao_topo">
        <div class="titulo1">
          Criar Novo
        </div>
        <br />
        <div id="links_topo">
          <a href="#">Autômato Finito</a>
          <a href="#">Gramática Regular</a>
          <a href="#">Expressão Regular</a>
        </div>
      </div>
    </section>
    <footer>
    </footer>
  </body>
</html>
